@model IList<Traveller.Models.ProfilePhoto>

@*@{
    ViewData["Title"] = "Home Page";
}*@


<div class="traveller-text">
<div class="home-text">
<h1>Traveller</h1>
    </div>
    </div>
<br />
<br />
<br />
<br />


<div  class="search-bar">
    <table>
        <tr>
            <td>
                <label>Search for trips!</label>
                <form asp-controller="User" asp-action="Search" name="searchString">

                    <input type="search" name="searchString" />
                    <input type="submit" value="Search" />
                </form>
            </td>
        </tr>
    </table>
</div>
<br />
<br />
<div class="home-image">
    <img src="http://zenpsychiatry.com/wp-content/uploads/2014/02/longroad.jpg"/>
</div>



@*<script src="~/js/myjsfile.js"></script>*@



