@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Traveller</h1>

<form asp-controller ="Trip" asp-action ="Add" method="post">

    <div>
        <label>Plan a Trip!</label>
    </div>
    <input type="submit" value="Start planning!" />
</form>
<br />
<br/>
<form asp-controller="User" asp-action="Index" method="post">

    <div>
        <label>My Profile</label>
    </div>
    <input type="submit" value="Take me home" />
</form>


