@model Traveller.Models.ProfilePhoto

    <h1>Add a profile photo</h1>

@using (Html.BeginForm("AddImage", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <h4>Profile Image</h4>
        <hr />
        @Html.ValidationSummary(true,"",new {@class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MyImage, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                <input type="file" id="image1" name="image1"/>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default"? />
            </div>
        </div>

    </div>

}