@model List<Traveller.Models.Trip>


@{
    ViewData["Title"] = "Traveller";

}



<h1 align="center">My Trips</h1>

@if (Model.Count == 0)
{
    <h1>You have no trips planned yet!</h1>

    <form asp-controller="Trip" asp-action="Add" method="post">

        <input type="submit" value="Plan a Trip!" />
    </form>

}


else
{
<table class="table">

    <tr>
        <th>Name</th>
        <th>State</th>
        
    </tr>

    @foreach (var trip in Model)
    {
        <tr>
            
           
            
            <td><a asp-controller="User" asp-action="MyTrip" asp-route-tripId="@trip.ID"> @trip.Name</a></td>
            <td>@trip.State.Abbreviation</td>
            

            @*<td><a asp-controller="User" asp-action="Edit" asp-route-TripId="@trip.ID" role="button" class="btn-sm btn-warning">Edit</a></td>*@
        </tr>
    }
</table>

}

