@model Traveller.Models.UserPhoto


<h1>Profile Photo</h1>
<form method="post" class="form-horizontal" enctype="multipart/form-data" asp-controller="User" asp-action="UploadPhoto">

    <div class="form-group">
        <label asp-for="@Model.Photo" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.Photo" type="file" class="form-control" style="height:auto" />
            <span asp-validation-for="@Model.Photo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="btnSave" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>